@model AskanioPhotoSite.Core.Models.PhotoListModel

@{
    ViewBag.Title = "Фотографии";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    
    @Html.ActionLink("Загрузить новые фотографии", "Upload", null, new {@class = "btn btn-primary"})
    
    <h3>Фотографии без альбомов</h3>

    @Html.Partial("_PhotoList", Model)
</div>



