@model AskanioPhotoSite.Core.Models.GalleryPhotoListModel

@{
    ViewBag.Title = Model.AlbumTitle;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<div class="photos">
    @foreach (var photo in Model.Photos)
    {
     <a href='#' class ="photo"  data-id="@photo.Id"><img src='@Url.Content(photo.Thumbnail)'></a>
    }
</div>


<div id="photo"></div>

<script>

    $(document).ready(function () {
        $('.photo').on('click', function () {

            var id = $(this).data("id");
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ViewPhotoPartial")',
                data: { id: id },
                success: function(result)
                {
                    $('#photo').html(result);
                    $('#myModal').show();
                    $('body').css("overflow", "hidden");
                }
            });
        });
    });
</script>