@model AskanioPhotoSite.Core.Models.GalleryPhotoTagModel

@{
    ViewBag.Title = Model.TagName;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<div class="photos-pattern-1">
    @foreach (var photo in Model.Photos)
    {
        <a href='#' class="photo" data-id="@photo.Id"><img src='@Url.Content(photo.Thumbnail)'></a>
    }
</div>


<div id="photo"></div>

<script>

    $(document).ready(function () {
        $('.photo').on('click', function () {
            OpenPhotoInModal(this, '@Url.Action("ViewPhotoPartial")', true)
        });
    });
</script>
