/*ГАЛЕРЕЯ*/
body {
    background-color: #fff;
}

/*МЕНЮ*/
.askanio-gallery-language {
   position:absolute;
   margin-left: 7px;
   top: 5px;
}
.askanio-gallery-language a {
   color: #fff;
   border-bottom-color: #252525;
   outline: 0;
}

.navbar-fixed-top
{
    z-index: 1000;
}
.askanio-bar .navbar {
   font-size: 1.3em;
   font-family: Arial, Helvetica, sans-serif;
}

.askanio-bar .navbar-nav {
    width: 100%;
    text-align: center;
} 
.askanio-bar .navbar-nav > li {
      float: none;
      display: inline-block;
    }

.askanio-bar .navbar-nav > li a {
    outline: 0;
    color: #fff;
}
.askanio-bar .navbar-nav > li a:hover,
.askanio-gallery-language a:hover {
    text-decoration:underline;
    text-decoration-color: #AAA;
    color: #AAA;
}

/*ТЕЛО*/
.askanio-gallery {
    display: block;
    margin-top: 50px;
}

    .askanio-gallery .panel-left
    {
        float: left;
        height: inherit;
        width: 290px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 1%;
        position: fixed;
        overflow: auto;
        padding: 0 0 0 25px;
        padding-top: 15px;
        padding-right: 0px;
        left: 0;
        padding-top: 2%;
        padding-right: 2%;
    }

    .wrapper {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /*СЛУЧАЙНОЕ ФОТО*/
    .askanio-gallery-random {
        text-align: center;
        width: 100%;
    }

       .askanio-gallery-random img {
           max-width: 90%;
           height: auto;
           border-radius: 5px;
       }

        .askanio-gallery-random .photoTitle
         {
            padding: 8px;
            color: rgb(85, 85, 85);
            font-size: 14px;
            font-family: 'Helvetica Neue';
        }


    /*ОБЛАКО ТЕГОВ*/

    .askanio-gallery-cloud {
        margin-top: 25px;
    }

    .askanio-gallery-title {
        font-family: "Freight Sans Light", "Freight Sans Light", sans-serif;
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    /*ПОИСК*/
    .askanio-gallery-search {
        overflow: hidden;
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
    }

        .askanio-gallery-search #search {
            width: 100%;
            height: 40px;
            background: #f1f1f1;
            border: 1px solid #65737e;
            font-size: 10pt;
            float: left;
            color: #65737e;
            padding-left: 15px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

            .askanio-gallery-search #search::-webkit-input-placeholder,
            .askanio-gallery-search #search::-moz-placeholder,
            .askanio-gallery-search #search:-ms-input-placeholder {
                color: #65737e;
            }

    /*.icon{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
 
      margin-top: -32px;
      display: block;
      left: 17.9%;
      position: fixed;
      border: 1px solid #65737e;
      background: #65737e;
      height: 32px;
      color: #fff;
      outline: none;
    }*/

    .askanio-gallery .btn-primary {
        background: #65737e;
        margin-top: 8px;
        margin-bottom: 8px;
        border-color: #65737e;
        margin-left: 70%;
    }

        .askanio-gallery .btn-primary:hover {
            background-color: #fff;
            color: #65737e;
        }

    .askanio-gallery-search button.icon .glyphicon {
        font-size: 18px;
        padding-bottom: 3px;
    }

    .icon:hover {
        background: white;
        border: 1px solid #65737e;
        color: #65737e;
    }

    /*ПОДВАЛ*/
    .askanio-gallery-footer {
        position: relative;
        margin: 10px 0 0 0;
        line-height: 1.2;
        color: #AAA;
        font-family: "Freight Sans Condensed Book", "Freight Sans Condensed Book", sans-serif;
        font-size: 11px;
        padding: 0 0.5em;
    }

    .askanio-gallery .rightColumn {
        margin-left: 310px;
        padding: 15px;
        min-height: 350px;
        overflow: hidden
    }

    /*АЛЬБОМЫ*/
    .album-layout {
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .askanio-gallery-album a:hover {
        text-decoration: none;
    }

    .askanio-gallery-album h3:hover {
        background-color: #e6e6e6;
    }

    .askanio-gallery-album a img {
        cursor: pointer;
        display: block;
        max-width: 270px;
        max-height: 270px;
        margin: 0;
        padding: 0;
    }

    .askanio-gallery-album {
        max-width: 290px;
    }

    .askanio-gallery-column h3 {
        font-size: 17px;
        font-family: sans-serif;
        word-break: break-all;
        color: #65737e;
        text-align: center;
    }

    .askanio-gallery-column {
        float: left;
        padding: 8px;
    }

    .askanio-gallery-content a {
        outline: none;
    }

    @media only screen and (max-width: 600px) {
        .askanio-gallery-column {
            flex: 50%;
            max-width: 100%;
        }
    }

    @media(max-width: 800px) {
        .askanio-gallery-column {
            flex: 50%;
            max-width: 100%;
        }
    }


    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
        .askanio-gallery-column {
            flex: 33%;
            max-width: 100%;
        }
    }

    @media only screen and (min-width: 1281px) {
        .askanio-gallery-column {
            flex: 25%;
            max-width: 100%;
        }
    }



    /*ФОТОГРАФИИ*/

    .grid{
        left: 5%
    }

    .photos-pattern-1 .grid-item {
        float: left;
        margin: 5px;
    }

        .photos-pattern-1 .grid-item img {
            display: block;
            max-width: 270px;
            width: 100%;
            cursor: pointer;
        }

    .photos-pattern-1 .grid {
        width: 100%;
    }

    .photos-pattern-2 {
        line-height: 0;
        position: relative;
        margin-top: 5px;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

        .photos-pattern-2 img {
            display: block;
            cursor: pointer;
            margin: auto;
            height: auto;
            max-width: 65%;
        }

    .desc {
        padding: 15px;
        text-align: center;
    }


    /*МОДАЛЬНОЕ ОКНО*/
    .modalPhoto {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1001; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        overflow-y: hidden;
    }

    .loading {
        display: block;
        margin: auto;
        width: 88%;
        height: 90%;
        background: url('Core/loading.gif') center no-repeat;
    }

@media only screen and (min-width: 900px) {
    .modal-content {
        margin: auto;
        display: block;
        max-width: 88%;
        max-height: 90%;
    }

    #title {
        font-size: 16px;
        font-family: sans-serif;
        display: block;
        color: #ccc;
        height: 25px;
        text-align: center;
        margin-top: -40px;
    }

    #caption {
        margin: auto;
        font-size: 14px;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
}

@media only screen and (min-width:320px) and (max-width:533px) 
{
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 85%;
    }

    #title {
        font-size: 13px;
        font-family: sans-serif;
        display: block;
        color: #ccc;
        height: 25px;
        text-align: center;
        margin-top: -40px;
    }

    #caption {
        margin: auto;
        font-size: 11px;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
}
    .prev, .next {
        position: absolute;
        top: 50%;
        left: 25px;
        width: 40px;
        height: 40px;
        margin-top: -23px;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 60px;
        font-weight: 100;
        line-height: 30px;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 0 2px #000;
        text-align: center;
        background: #222;
        background: rgba(0,0,0,.5);
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: 3px solid #fff;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        border-radius: 23px;
        opacity: .5;
        cursor: pointer;
    }

    .next {
        left: auto;
        right: 25px;
    }

    .glyphicon {
        font-size: 25px;
        padding-top: 3px;
        padding-right: 1px;
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

    /*BREAD CRUMBS*/
    .breadcrumb {
        list-style: none;
        display: inline-block;
    }

        .breadcrumb .glyphicon {
            font-size: 16px;
        }

        .breadcrumb li {
            float: left;
        }

            .breadcrumb li a {
                color: #FFF;
                display: block;
                /*background: #3498db;*/
                outline: 0;
                background: #626D71;
                text-decoration: none;
                position: relative;
                height: 26px;
                line-height: 26px;
                padding: 0 10px 0 5px;
                text-align: center;
                margin-right: 23px;
            }

            .breadcrumb li:nth-child(even) a {
                /*background-color: #2980b9;*/
                background-color: #626D71;
            }

                .breadcrumb li:nth-child(even) a:before {
                    /*border-color: #2980b9;*/
                    border-color: #626D71;
                    border-left-color: transparent;
                }

                .breadcrumb li:nth-child(even) a:after {
                    /*border-left-color: #2980b9;*/
                    border-left-color: #626D71;
                }

            .breadcrumb li:first-child a {
                padding-left: 15px;
                border-radius: 4px 0 0 4px;
            }

                .breadcrumb li:first-child a:before {
                    border: none;
                }

            .breadcrumb li:last-child a {
                padding-right: 15px;
                border-radius: 0 4px 4px 0;
            }

                .breadcrumb li:last-child a:after {
                    border: none;
                }

            .breadcrumb li a:before, .breadcrumb li a:after {
                content: "";
                position: absolute;
                top: 0;
                /*border: 0 solid #3498db;*/
                border: 0 solid #626D71;
                border-width: 13px 10px;
                width: 0;
                height: 0;
            }

            .breadcrumb li a:before {
                left: -20px;
                border-left-color: transparent;
            }

            .breadcrumb li a:after {
                left: 100%;
                border-color: transparent;
                /*border-left-color: #3498db;*/
                border-left-color: #626D71;
            }

        .breadcrumb > li + li::before {
            padding: 0;
            color: none;
            content: "";
        }

        .breadcrumb li a:hover {
            background-color: #1abc9c;
        }

            .breadcrumb li a:hover:before {
                border-color: #1abc9c;
                border-left-color: transparent;
            }

            .breadcrumb li a:hover:after {
                border-left-color: #1abc9c;
            }

        .breadcrumb li a:active {
            background-color: #16a085;
        }

            .breadcrumb li a:active:before {
                border-color: #16a085;
                border-left-color: transparent;
            }

            .breadcrumb li a:active:after {
                border-left-color: #16a085;
            }