@media only screen and (min-width: 0px) and (max-width: 728px) {

    #askanio-sidebar  {
        background: rgba(0,0,0,0.8);
        position: static;
        max-height: none;
        width: auto;
        height: auto;
        box-shadow: 0px 2px 5px rgb(0, 0, 0);
    }
}
