

/*MAIN UI*/
body {

}

.navbar {
   color: #525558;
   font-weight: bold;
   font-size: 1.1em;
   font-family: Arial, Helvetica, sans-serif;
}

.side-bar {
    display: block;
    margin-top: 25px;
}

    .side-bar .leftColumn
    {
        float: left;
        width: 290px;
        padding-top: 15px;
    }

        .randomPhoto
        {
           text-align:center
            /*width: 260px;
            height: 210px;
            border: 0px none;*/
        }

            .randomPhoto img {
                max-width: 260px;
                max-height: 210px;
                border-radius: 5px;
            }

            .randomPhoto .photoTitle
            {
                padding: 8px;
                color: rgb(85, 85, 85);
                font-size: 14px;
                font-family: 'Helvetica Neue';
            }

    .side-bar .rightColumn
    {
        margin-left: 310px;
        border-left: 1px solid #e7e7e7;
        padding: 15px;
        min-height: 350px;
        overflow: hidden
    }

    hr
    {
        border: 1px solid #777777;
    }
    .cloud
    {
        margin-top: 60px;
        margin-left: 25px;
        align-content: center;
    }
    .tag-cloud {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 5px;
    }

        .tag-cloud a {
            display: inline-block;
            margin: 0.125rem;
            padding: 0.6375rem;
            color: black;
            background-color: #F5F5DC;
            border-radius: 5px;
            transition: all 0.1s ease-in-out;
        }

        .tag-cloud a:hover,
        .tagcloud a:focus { 
            color: #0c2933;
            transform: scale(1.1);
        }

    .tag-cloud .smallest { font-size: 75%;}
    .tag-cloud .small { font-size: 100%; }
    .tag-cloud .medium { font-size: 125%;}
    .tag-cloud .large { font-size: 150%; }
    .tag-cloud .largest { font-size: 200%; }


    .footer {
        text-align: center;
        color: #aea294;
    }

.hr-footer {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 25px;
    border: 0.5px solid #aea294;
}

.navbar-brand {
    margin-right: 75px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*ADMIN PANEL*/
.loginHeader {
    margin-top: 20px;
}

.remove {
    color: red;
    cursor: pointer;
}
    .remove:hover {
        color: red;
        text-decoration: underline;
    }

.edit {
    cursor: pointer;
}

.space {
    margin-bottom: 10px;
    margin-top: 10px;
}

.photo-thumbnail img {
    max-height:200px; 
    max-width: 120px; 
    object-fit:fill;
    object-position: top;
}

.space-right {
    margin-left: 20px;
}

.language-title{
    font-size: 16px;
    color: darkgray;
}

body .modal-open {
   overflow: visible;
}
.default {
    color: grey; 
    margin-left: 5px;
}

.field-validation-error {
    color: red;
}

.custom-header {
    text-align: center;
    padding: 3px;
    background: #000;
    color: #fff;
}

.up {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.up:hover {
    cursor: pointer;
      border-bottom: 5px solid grey;
}
.down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.down:hover {
    cursor: pointer;
       border-top: 5px solid grey;
}

.active-row {
    background-color: #f2dbc6 ;
}



/*НОВЫЙ МАКЕТ*/
.askanio-sidebar-language
{
    padding: 7px;
}

    .askanio-sidebar-language a
    {
        font-family: 'Tw Cen MT', 'Oswald', serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        border-bottom: 1px solid #ffffff;
        cursor: pointer;
    }

    .askanio-sidebar-language a:hover {
        text-decoration: none;
    }

.askanio-background-slideshow,
.askanio-background-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}


    .askanio-background-slideshow img {
	    height: 100%;
        width: 100%;
        position:absolute;
        left:0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

#askanio-sidebar {
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 250px;
    position: fixed;
    left: 60px;
    top: 0px;
    top: 0;
    bottom: 0;
    z-index: 10;
    -moz-box-shadow: 0px 2px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 2px 5px rgb(0, 0, 0);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}
    .askanio-sidebar-header {
        display: block;
        width: 100%;
        text-align: center;
        margin: 60px 0 40px 0;
    }
        .askanio-sidebar-header-title {
            display: block;
            width: 100%;
            text-align: center;
            margin: 60px 0 40px 0;
        }
            .askanio-sidebar-header-title a {
                text-decoration: none;
             }

            .askanio-sidebar-header-title .title {
                font-size: 32px;
                font-family: Papyrus 'Oswald', serif;
                color: #DEB887;
                line-height: 38px;
                border: 0;
                margin-top: 15px;
                margin-bottom: 5px;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            .askanio-sidebar-header-title .description {
                font-size: 15px;
                font-family: 'Tw Cen MT', 'Oswald', serif;
                color: #F5F5DC;
                text-transform: uppercase;
                text-decoration: none;
            }

  .askanio-sidebar-menu {
      text-align: center;
      width: auto;
      margin: 0.55em 0 0 0;
      clear: both;
      text-align: center;
      overflow: visible;
      z-index: 4;
      background: transparent;
  }
    .askanio-sidebar-menu ul {
        list-style: none;
        width: auto;
        margin: 0;
        padding: 0;
        position: relative;
        border: 0;
        line-height: 1;
        box-sizing: content-box;
    }
        .askanio-sidebar-menu ul li {
            display: block;
            vertical-align: top;
            margin: 0;
            padding: 0;
            position: relative;
            border: 0;
            line-height: 1;
            box-sizing: content-box;
            padding-top: 5px;
            padding-bottom: 5px;
        }
            .askanio-sidebar-menu a {
                font-family: 'Tw Cen MT', 'Oswald', serif;
                color: #888888;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
            }

           .askanio-sidebar-menu ul li:hover{
                background-color: #F5F5DC;
            }

            .askanio-sidebar-menu ul li:hover > a {
                color: black;
            }

        .askanio-sidebar-section {
            text-align: center;
            margin-top: 35px;
            border-top: 1px solid #1e282b;
        }
              .askanio-sidebar-section-title {
                font-size: 15px;
                font-family: 'Tw Cen MT', 'Oswald', serif;
                color: #F5F5DC;
                line-height: 16px;
                margin-top: 15px;
                margin-bottom: 5px;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            .askanio-sidebar-section img {
                margin-top: 15px;
                max-width: 200px;
                max-height: auto;
            }

            .askanio-sidebar-section-photoTitle {
                padding: 8px;
                color: #F5F5DC;
                font-size: 14px;
                font-family: 'Helvetica Neue';
            }

/*ОБЛАКО ТЭГОВ*/

    .askanio-sidebar-section .tag-cloud {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 5px;
    }

      .askanio-sidebar-section .tag-cloud ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
    }
         .askanio-sidebar-section .tag-cloud ul li {
	        display: inline-block;
	        margin: 0 0 .3em 1em;
	        padding: 0;
        }
         .askanio-sidebar-section .tag-cloud ul li a {
	        position: relative;
	        display: inline-block;
	        height: 30px;
	        line-height: 30px;
	        padding: 0 1em 0 .75em;
	        background-color: #3498db;
	        border-radius: 0 3px 3px 0;
	        color: #fff;
	        font-size: 13px;
	        text-decoration: none;
	        -webkit-transition: .2s;
	        transition: .2s;
        }
         .askanio-sidebar-section .tag-cloud ul li a::before {
	        position: absolute;
	        top: 0;
	        left: -15px;
	        z-index: -1;
	        content: '';
	        width: 30px;
	        height: 30px;
	        background-color: #3498db;
	        border-radius: 50%;
	        -webkit-transition: .2s;
	        transition: .2s;
        }
         .askanio-sidebar-section .tag-cloud ul li a::after {
	        position: absolute;
	        top: 50%;
	        left: -6px;
	        z-index: 2;
	        display: block;
	        content: '';
	        width: 6px;
	        height: 6px;
	        margin-top: -3px;
	        background-color: rgba(0,0,0,0.8);
            opacity:0.8;
	        border-radius: 100%;
        }
         .askanio-sidebar-section .tag-cloud ul li span {
	        display: block;
	        max-width: 100px;
	        white-space: nowrap;
	        text-overflow: ellipsis;
	        overflow: hidden;
        }
         .askanio-sidebar-section .tag-cloud ul li a:hover {
	        background-color: #555;
	        color: #fff;
        }
         .askanio-sidebar-section .tag-cloud ul li a:hover::before {
	        background-color: #555;
        }