@using AskanioPhotoSite.WebUI.Localization

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = MainUI.Error;
}
<hgroup class="text-center">
        <h1>@MainUI.Error</h1>
        <h3>@MainUI.ErrorMessage</h3>
        <h4><a href='@Url.Action("Index", "Home")'>@MainUI.ReturnToHomeLink</a></h4>
</hgroup>
