<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="common" xsi:type="File"
        layout="${longdate} ${level} ${message}"
        fileName="${basedir}/SysData/Logs/CommonLog_${shortdate}.txt"
        archiveFileName="${basedir}/SysData/Logs/Archives/common.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true" />

    <target name="storage" xsi:type="File" 
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/SysData/Logs/StorageLog_${shortdate}.txt"
        archiveFileName="${basedir}/SysData/Logs/Archives/storage.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="common" />
    <logger name="common" minlevel="Error" writeTo="common" />
    <logger name="storage" minlevel="Error" writeTo="storage" />
  </rules>
</nlog>